
/*Configurações universais*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    
}

:root {
    --rose: #F2E7DC;
    --azul-claro: #A9D9D0;
    --verde: #038C7F;
    --verde-azulado: #027373;
    --preto: #0D0D0D;
}


/*Configurações da página padrão*/
.pagina {
    width: 100%;
    height: 100%;
    background-color: var(--azul-claro);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30%;
    background-color: var(--verde-azulado);
    padding: 2%;
}

.logo{ 
    width: 100%;
    height: 50%;
    padding: 3% 5% 5% 5%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoimg {
    max-width: 8.5rem;
    max-height: 8.5rem;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
    max-height: 40%;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.menuop {
    width: 30%;
    height: 50%;
    text-align: center;
}

.corpo {
    padding: 5% 2% 2% 2%;
    text-align: center;
    padding-bottom: 100px;
}

.rodape {
    width: 100%;
    text-align: center;
    bottom: 0%;
    font-style: italic;
    font-weight: bold;
    font-size: 0.8rem;
    padding-top: 1000px;
}


/*Configurações da página index*/
button {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 3% 0;
    font-weight: bold;
    background-color: var(--rose);
    border-radius: 3%;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem var(--preto);
}


/*Configurações da página de loggin*/
.corpologgin {
    width: 100%;
}

.formulario_loggin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.div_emailloggin, .div_senhaloggin  {
    margin: 2%;
    font-weight: bold;
}

#emailloggin, #senhaloggin {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--preto);
    
}

.enviarloggin {
    margin: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--preto);
    font-weight: bold;
}


/*Configurações da página de cadastro*/
.formulario_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.div_nomecadastro, .div_emailcadastro, .div_cepcadastro, .div_senhacadastro {
    margin: 2%;
    font-weight: bold;
}

#nomecadastro, #emailcadastro, #cepcadastro, #senhacadastro {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--preto);
}

.enviarcadastro {
    margin: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px var(--preto);
    font-weight: bold;
    
}